@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-blue-950;
}

.flex-one {
  flex: 1;
}

.p-inputtext {
  background-color: white !important;
  color: black !important;
}

.p-fieldset-legend {
  background-color: #0B2F46 !important;
}

.p-fieldset {
  background-color: #0B2F46 !important;
  border-color: white !important;
}

.p-divider::before {
  border-color: white !important;
}
